<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>01-Layout</title>
    <link rel="stylesheet" href="../src/css/master.css">
</head>
<body class="mainmenu layout">
    <!-- NAVEGACIÓN: Botón para volver atrás -->
    <nav class="back">
        <a href="../index.html">
            <svg><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M232,200a8,8,0,0,1-16,0,88.1,88.1,0,0,0-88-88H51.31l34.35,34.34a8,8,0,0,1-11.32,11.32l-48-48a8,8,0,0,1,0-11.32l48-48A8,8,0,0,1,85.66,61.66L51.31,96H128A104.11,104.11,0,0,1,232,200Z"></path></svg></svg>
        </a>
    </nav>

    <!-- CONTENIDO PRINCIPAL -->
    <main>
        <!-- ENCABEZADO -->
        <header>
            <h1>01-Layout</h1>
            <h3>Designing the visual layout, then translating everything into clean code.</h3>
            <img src="../src/imgs/depositphotos_59611863-stock-illustration-human-character-and-under-construction.jpg" alt="Layout">
        </header>

        <!-- MENÚ DE NAVEGACIÓN -->
        <menu>
            <!-- Item 1 -->
            <a href="01-wireframe/index.html">
                <span>01</span>
                <aside>
                    <h3>Wireframe LO-FI</h3>
                    <small>Define structure and flow</small>
                </aside>
            </a>

            <!-- Item 2 -->
            <a href="02-wireframe/index.html">
                <span>02</span>
                <aside>
                    <h3>Wireframe HI-FI</h3>
                    <small>Refine structure and flow</small>
                </aside>
            </a>

            <!-- Item 3 -->
            <a href="03-stylesguide/index.html">
                <span>03</span>
                <aside>
                    <h3>Styles Guide</h3>
                    <small>Establish visual design rules</small>
                </aside>
            </a>

            <!-- Item 4 -->
            <a href="04-mockup/index.html">
                <span>04</span>
                <aside>
                    <h3>Mockup</h3>
                    <small>Visualize the final interface</small>
                </aside>
            </a>

            <!-- Item 5 -->
            <a href="05-code/index.html">
                <span>05</span>
                <aside>
                    <h3>Code</h3>
                    <small>Transform design into code</small>
                </aside>
            </a>
        </menu>
    </main>
</body>
</html>